@{
    ViewData["Title"] = "Login"; //最上面頁籤NAME
    var LoginData = new RegisterModel();
    
   

}
@if(TempData["message"] != null){
    <script>alert('@Html.Raw(TempData["message"])')</script>
}


<html lang="zh-Hant">
</html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>LOGIN</title>
    <meta name="robots" content="index,follow">
    <meta name="description" content="登入系統">
    <meta name="theme-color" content="#4285f4">
    <base target="_blank">
</head>
<body>
    <div>
        <h1 class="heading">登入</h1>
        <form method="post" asp-controller="login" asp-action="login">
              
            <p><h3>帳號:</h3> <input id="account" required placeholder="請輸入帳號" name="Account" value="@LoginData.Account"> </p>
            <p><h3>密碼:</h3> <input id="password" required placeholder="請輸入密碼" name="Password" type="password" value="@LoginData.Password"></p>
            <span>@TempData["message"]</span>
            <button id="submit">送出</button>
        </form>


    </div>
  
</body>
</html>